<c-carousel [interval]="50000">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <div class="carousel-cover"></div>
        <img
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
          src="https://image.tmdb.org/t/p/original/{{slide.src}}"
          height="800"
          width="600"
        />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{slide.title}}</h3>
          <!-- <a [routerLink]="['/Movie']">{{slide.subtitle}}</a> -->
          <!-- <button [routerLink]="['/Movie']" [queryParams]="{ id: slide.id}">{{slide.subtitle}}</button> -->
          <button class="btn btn-glass" [routerLink]="['/Movie/' + slide.id]">{{slide.subtitle}}</button>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>