$primary-color: #02d3de;

c-carousel-indicators {
    .carousel-indicators {
        button {
            margin: 0 .5rem;
            border: none;
            width: 2rem;
            height: .2rem;
            background-color: rgba(210, 210, 210, 0.5);
        }

        button.active {
            background-color: $primary-color;
        }
    }
}