.carousel-cover {
    background: linear-gradient(to bottom, rgba(32, 39, 49, 0) 0%, rgba(32, 39, 49, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

c-carousel-inner {
    c-carousel-item {
        img {
            object-fit: cover;
            object-position: top;
        }

        c-carousel-caption {
            z-index: 100000;
        }
    }
}

c-carousel-indicators {
    .carousel-indicators {
        button {
            margin: 0 .5rem;
            border: none;
            width: 2rem;
            height: .2rem;
            background-color: rgba(210, 210, 210, 0.5);
        }

        button.active {
            background-color: #ffffff;
        }
    }
}

@media screen and (max-width: 768px) {
    .d-none {
        display: block !important;
    }
}