<div class="movie-detail-container animate__animated animate__fadeIn">
    <div class="movie-banner">
        <button class="circle-btn back-btn" [routerLink]="['/Home']">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <img src="https://image.tmdb.org/t/p/original{{ movie?.backdrop_path}}" alt="">
        <div class="movie-title animate__animated animate__fadeInLeft">
            <h1>{{ movie?.original_title }}</h1>
            <p>{{ movie?.tagline }}</p>
            <p>{{ movie?.overview }}</p>
            <p class="movie-rating">
                <ngx-stars 
                    [readonly]="true" 
                    [color]="'#FFD700'" 
                    [initialStars]="movieRate" 
                    *ngIf="movieRate > 0"
                />
                <span>{{ releaseDate.getFullYear() }}</span>
            </p>
        </div>
    </div>
    <div class="container-fluid movie-datails-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 movie-information">
                <h3>Information</h3>
                <div class="block">
                    <div class="row row-info">
                        <div class="col-md-12 col-sm-12 col-xs-12 movie-poster">
                            <img width="100%" src="https://image.tmdb.org/t/p/original{{ movie?.poster_path }}" alt="">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 movie-genre">
                            <span *ngFor="let gen of movie?.genres">
                                <c-badge color="secondary">{{ gen.name }}</c-badge>
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 movie-info">
                            <p><strong>original language:</strong> {{ movie?.original_language }}</p>
                            <p><strong>Duration:</strong> {{ movie?.runtime }}min</p>
                            <p><strong>original language:</strong> {{ movie?.original_language }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col movie-languages">
                            <h5>Languages</h5>
                            <ul>
                                <li *ngFor="let language of movie?.spoken_languages">
                                    {{ language.english_name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="movie-trailer col-12">
                        <h3>Trailer</h3>
                        <div class="block video-container">
                            <iframe [src]="getYoutubeEmbedURL()" id="video">
                            </iframe>
                        </div>
                    </div>
                    <div class="movie-cast col-12">
                        <h3>Cast</h3>
                        <div class="block">
                            <swiper-container 
                                class="mySwiper" 
                                pagination="false" 
                                effect="coverflow" 
                                grab-cursor="true" 
                                centered-slides="true"
                                slides-per-view="auto" 
                                coverflow-effect-rotate="50"
                                coverflow-effect-stretch="0"
                                coverflow-effect-depth="100"
                                coverflow-effect-modifier="1" 
                                coverflow-effect-slide-shadows="false"
                            >
                                <swiper-slide *ngFor="let cast of movieCast">
                                    <img src="https://image.tmdb.org/t/p/w500/{{ cast.profile_path }}" alt="">
                                    <div class="hover-info">
                                        <h5>{{ cast.original_name }}</h5>
                                    </div>
                                </swiper-slide>
                              </swiper-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>