<div class="movie-detail-container animate__animated animate__fadeIn">
    <div class="movie-banner">
        <button class="circle-btn back-btn" [routerLink]="['/Home']">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <img src="https://image.tmdb.org/t/p/original{{ movie?.backdrop_path}}" alt="">
        <div class="movie-title animate__animated animate__fadeInLeft">
            <h1>{{ movie?.original_title }}</h1>
            <p class="release-rate">
                <span> {{ releaseDate?.getFullYear() }} </span>
                <ngx-stars [readonly]="true" [color]="'#FFD700'" [initialStars]="4.3" />
            </p>
            <p class="action-btns">
                <button class="btn btn-robbin" (click)="handleWatched()" [disabled]="watched">
                    <fa-icon [icon]="watched ? faEye : faPlay"></fa-icon>
                    {{ watched ? 'Watched' : 'Watch' }}
                </button>
                <button class="btn btn-glass" (click)="watchlist ? handleRemoveList() : handleMyList()">
                    <fa-icon [icon]="watchlist ? faXmark : faPlus"></fa-icon>
                    {{ watchlist ? 'Remove' : 'My List' }}
                </button>
            </p>
        </div>
    </div>
    <div class="container-fluid movie-container">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <section class="row-trailers">
            <swiper-container class="trailers-swiper" pagination="false" effect="slide" grab-cursor="true"
                centered-slides="false" slides-per-view="auto" navigation="true">
                <swiper-slide *ngFor="let trailer of movieTrailer">
                    <img width="250" alt="Video Thumbnail"
                        [src]="'https://img.youtube.com/vi/'+ trailer.key +'/maxresdefault.jpg'" />
                    <div class="cover-play" (click)="toggleLiveDemo(trailer)">
                        <fa-icon [icon]="faCirclePlay"></fa-icon>
                    </div>
                </swiper-slide>
            </swiper-container>
        </section>
        <section class="row row-details">
            <div class="col-md-12 col-lg-8">
                <h2>Overview</h2>
                <p>{{ movie?.overview }}</p>
            </div>
            <div class="col-md-12 col-lg-2">
                <h2>Genres</h2>
                <p *ngFor="let gen of movie?.genres">
                    <c-badge color="secondary">{{ gen.name }}</c-badge>
                </p>
            </div>
            <div class="col-md-12 col-lg-2">
                <h2>Details</h2>
                <p><strong>Duration:</strong> {{ movie?.runtime}} min</p>
                <p><strong>Budget:</strong> {{ movieBudget }}</p>
                <p><strong>Revenue:</strong> {{ movieRevenue }}</p>
            </div>
        </section>
        <section class="row row-cast">
            <div class="col-12">
                <h2>Cast</h2>
                <swiper-container class="cast-swiper" pagination="false" effect="slide" grab-cursor="true"
                    slides-per-view="auto">
                    <swiper-slide *ngFor="let cast of movieCast">
                        <img src="https://image.tmdb.org/t/p/w500/{{ cast.profile_path }}" alt="">
                        <div class="cast-info">
                            <h5>{{ cast.original_name }}</h5>
                            <span>{{ cast.character }}</span>
                        </div>
                    </swiper-slide>
                </swiper-container>
                <span class="instructions">Drag me!</span>
            </div>
        </section>
        <section class="row row-comments">
            <div class="col-12">
                <h2>Rating</h2>
                <div class="stars">
                    <ngx-stars *ngIf="ratingDisplay != undefined"
                        [readonly]="ratingDisplay == undefined || ratingDisplay == 0 || movieRate == 0 ? false: true"
                        [size]="2" [maxStars]="5" [color]="'#FFD700'" [initialStars]="ratingDisplay!"
                        (ratingOutput)="onRatingSet($event)" />
                </div>
            </div>
            <div class="col-12">
                <h2>Comments</h2>
                <div class="comment-form">
                    <textarea [formControl]="movieReviewFc" name="comment" placeholder="Comment..." id="" cols="30"
                        rows="5"></textarea>
                    <div class="d-grid gap-2">
                        <button cButton color="primary" (click)="submitMovieReview()">
                            Submit
                            <fa-icon [icon]="faPaperPlane"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <app-reviews [local]="localMovieReviews" [global]="globalMovieReviews"></app-reviews>
            </div>
        </section>
    </div>
</div>

<c-modal size="xl" class="trailerModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)"
    alignment="center">
    <c-modal-header>
        <button (click)="toggleLiveDemo()" class="modal-close">
            <fa-icon [icon]="faX"></fa-icon>
        </button>
    </c-modal-header>
    <c-modal-body>
        <!-- <object [data]="getYoutubeEmbedURL(selectTrailer?.key)"></object> -->
        <iframe [src]="getYoutubeEmbedURL(selectTrailer?.key)" id="video" loading="lazy">
        </iframe>
    </c-modal-body>
</c-modal>