<div class="footer-container">
    <div class="row logo-row">
        <div class="col-12 text-center">
            <div class="name-logo">
                <img width="40" src="../../../assets/images/logo.PNG" alt="">
                <span>ilmFolio</span>
            </div>
            <hr>
        </div>
    </div>
    <div class="row social-row">
        <div class="col-4">
            <a href="https://github.com/AlejoC98" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="https://www.linkedin.com/in/alejandro-gomez-b09b62260" target="_blank">
                <fa-icon [icon]="faLinkedinIn"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="https://twitter.com" target="_blank">
                <fa-icon [icon]="faXTwitter"></fa-icon>
            </a>
        </div>
    </div>
    <div class="row copyrights-row">
        <div class="col-12">
            <p>&copy; 2023 All rights reserved. <span>Alejandro Gomez</span></p>
        </div>
    </div>
</div>