<c-modal id="liveDemoModal" [visible]="visible">
    <c-modal-header>
        <button cButtonClose class="modal-close" (click)="toggleVisibility()">
            <fa-icon [icon]="faX"></fa-icon>
        </button>
    </c-modal-header>
    <c-modal-body>
        <input type="text" class="modal-search-input" [formControl]="keyword" placeholder="Search..." (keyup.enter)="serachMovie()" autofocus>
        <div class="container search-container">
            <app-list-group 
                [list]="searchContent!" 
                *ngIf="searchContent != undefined && searchContent!.length > 0; else message"
            ></app-list-group>
            <ng-template #message>
                <div class="search-message">
                    <h3>{{ searchMessage }}</h3>
                </div>
            </ng-template>
        </div>
    </c-modal-body>
</c-modal>