<c-navbar class="navbar" expand="lg" placement="fixed-top">
    <c-container fluid>
        <span>
            <img width="40" src="assets/images/logo.PNG" alt="">
            <span>ilmFolio</span>
        </span>
        <div class="list-menu">
            <c-navbar-nav>
                <c-nav-item class="circle-btn" *ngFor="let item of menuItems">
                    <a cNavLink [routerLink]="item.link">
                        <fa-icon [icon]="item.icon"></fa-icon>
                    </a>
                </c-nav-item>
            </c-navbar-nav>
        </div>
    </c-container>
    <div class="action-container">
        <button class="circle-btn action-btn" (click)="modalService.toggleModal()">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
        <button class="circle-btn action-btn" (click)="auhtService.logout()">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </button>
        <div class="avatar">
            <img [src]="auhtService.currentUser?.photoURL" alt="">
        </div>
    </div>
    <div class="burger-menu show" (click)="toggleMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
    </div>    
</c-navbar>