<c-navbar class="navbar" expand="lg" placement="fixed-top">
    <c-container fluid>
        <span>
            <img width="40" src="../../../assets/images/logo.PNG" alt="">
            ilmFolio
        </span>
        <div class="list-menu">
            <c-navbar-nav>
                <c-nav-item class="circle-btn" *ngFor="let item of menuItems">
                    <a cNavLink [routerLink]="item.link">
                        <fa-icon [icon]="item.icon"></fa-icon>
                    </a>
                </c-nav-item>
            </c-navbar-nav>
        </div>
    </c-container>
    <div class="action-container">
        <button class="circle-btn action-btn" (click)="toggleLiveDemo()">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
        <button class="circle-btn action-btn" (click)="auhtService.logout()">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </button>
        <div class="avatar">
            <img src="https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </div>
    </div>
</c-navbar>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <button (click)="toggleLiveDemo()" cButtonClose class="modal-close">
            <fa-icon [icon]="faX"></fa-icon>
        </button>
    </c-modal-header>
    <c-modal-body>
        <input type="text" class="modal-search-input" [formControl]="keyword" placeholder="Search..." (keyup.enter)="serachMovie()" autofocus>
        <div class="container search-container">
            <app-list-group [list]="searchContent!"></app-list-group>
            <!-- <app-list-group></app-list-group> -->
        </div>
    </c-modal-body>
</c-modal>