<div class="list-container" cListGroup flush>
    <a [routerLink]="['/Movie', item.id]" cListGroupItem *ngFor="let item of list" id="{{ item.id }}">
        <div class="item-container">
            <img 
                width="80" 
                src="https://image.tmdb.org/t/p/w500{{ 
                    item.poster_path != '' ? item.poster_path : item.backdrop_path
                    }}"
                alt=""
            >
            <div class="item-text">
                <span> {{ item.title }} </span>
                <span> {{ item.original_language }} </span>
                <span> {{item.release_date }} </span>
            </div>
        </div>
    </a>
</div>