<div class="login-container">
    <div class="auth-header">
        <div class="logo" [routerLink]="['/']">
            <img width="40" src="assets/images/logo.PNG" alt="">
            <span>ilmFolio</span>
        </div>
        <div class="auth-actions">
            <button [routerLink]="['/SignUp']" class="btn btn-join">Sign Up</button>
        </div>
    </div>
    <div class="form-container animate__animated animate__fadeInUp">
        <h1>SIGN IN</h1>
        <form (ngSubmit)="Authentication()" [formGroup]="login" #loginForm>
            <div class="mb-3">
                <input type="email" class="form-control auth-input" id="loginEmail" placeholder="Email" formControlName="username">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control auth-input" id="loginPassword" placeholder="Password"
                    formControlName="password">
                <fa-icon [icon]="faKey"></fa-icon>
            </div>
            <div class="d-grid gap-2 login-row">
                <button class="custom-btn btn-outline-effect">
                    <span>
                        Log In
                    <fa-icon [icon]="faRightToBracket"></fa-icon>
                    </span>
                </button>
            </div>
            <div class="mb-3 text-end">
                <a class="text-link" href="">Forgot Password?</a>
            </div>
        </form>
        <div class="row social-login">
            <div class="col-12">
                <button class="btn btn-light btn-social-auth" (click)="googleLogin()">
                    <img width="25" src="assets/images/google.png" alt="">
                    Google
                </button>
            </div>
        </div>
    </div>
</div>