.list-container::-webkit-scrollbar {
    width: 7px;
  }
  
.list-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
.list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
.list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.list-container {
    max-height: 600px;
    overflow-y: scroll;
    padding: 0 .5rem;

    a {
        background: transparent;
        color: #ffffff;
    }
}

.review-container {
  padding: 1rem 0;
    display: flex;

    .author-profile {
        padding: .5rem;
        margin-right: 1rem;
        img {
            width: 80px;
            border-radius: 50%;
            height: 80px;
        }
    }

    .review-text{
      width: 100%;
      div {
        display: flex;
        align-items: center;
        :first-child {
          margin-right: 1rem;
          display: flex;
        }

        :nth-child(2) {
          margin-top: .2rem;
        }
      }
    }
}

c-nav {
  c-nav-item a {
    color: #ffffff;
  }
}

.no-comments-message {
  color: #6e6e6e;
}


@media screen and (max-width: 768px) {
  a[cListGroupItem] {
    padding: 0 !important;
  }
  .review-container {
    display: flex;

    .review-text {
      text-align: center;
      div {
        justify-content: center;
      }
    }
  
    .author-profile {
      margin-right: 0;
      img {
        width: 50px;
        border-radius: 50%;
        height: 50px;
      }
    }
  }
}