.list-container::-webkit-scrollbar {
    width: 7px;
  }
  
.list-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
.list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
.list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.list-container {
    max-height: 400px;
    overflow-y: scroll;

    a {
        background: transparent;
        color: #ffffff;
    }
}


.review-container {
    display: flex;
    // justify-content: space-between;

    .author-profile {
        padding: .5rem;
        margin-right: 1rem;
        img {
            border-radius: 50%;
            height: 80px;
        }
    }
}

c-nav {
  c-nav-item a {
    color: #ffffff;
  }
}